/* @media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.9);
  }

  .zaglushka {
    flex-direction: column-reverse;
  }

  .zaglushka > div {
    width: 100%;
  }

  .text {
    padding: 20rem;
  }

  .image img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }

  .anim {
    width: 180rem;
    height: 180rem;
    filter: blur(20rem);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  #my-form-button {
    width: 100%;
  }

  input[name="message"] {
    width: 100%;
  }

  .image img {
    width: 100%;
    padding: 20rem;
  }

  .zaglushka {
  position:relative;
}
} */
