@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .O_Header {
    padding: 3.1vw 3.1vw;
  }

  .M_Navigation {
    width: 50.4vw;
    height: 6vw;
    padding: 1.7vw 4vw;
  }

  .A_h1 {
    font-size: 7.3vw;
    line-height: 100%;
    letter-spacing: -0.45vw;
  }

  .A_h2 {
    font-size: 4.2vw;
    letter-spacing: -0.25vw;
  }

  .A_h3 {
    font-size: 2.65vw;
    line-height: 100%;
  }

  .A_h4 {
    font-size: 2.6vw;
    letter-spacing: -0.04vw;
  }

  .A_p {
    font-size: 2.1vw;
    letter-spacing: -0.1vw;
    line-height: 100%;
  }

  .A_mainButton {
    padding: 2.4vw 2vw;
    font-size: 2.6vw;
    line-height: 120%;
    height: 8.4vw;
  }

  .M_mainText {
    gap: 4.2vw;
    width: 91vw;
    padding: 7.4vw 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .O_Header.desktop {
    display: none;
  }

  .O_Header.mobile {
    display: flex;
    padding: 8vw 3vw 5vw;
  }

  .A_logoHeader_mobile {
    display: flex;
  }

  .O_Header.mobile.overlay {
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-bottom: 3vw;
  }

  .M_Navigation {
    display: flex;
    width: 13vw;
    height: 13vw;
    padding: 4vw;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border-radius: 4vw;
    box-shadow: var(--shadow);
  }

  .Q_menuIcon {
    background: var(--silver);
    border-radius: 0.5vw;
    height: 0.5vw;
    width: 4.8vw;
  }

  .A_h1 {
    font-size: 7vw;
    line-height: 100%;
  }

  .A_h2 {
    font-size: 8.5vw;
  }

  .A_h3 {
    line-height: 100%;
    font-size: 5.3vw;
  }

  .M_cardArticles .A_h3 {
    width: 16rem;
  }

  .A_h4 {
    font-size: 1.5rem;
  }

  .A_p {
    font-size: 3.8vw;
  }

  .W_articles {
    margin: 2rem auto 0;
    gap: 1rem;
  }

  .W_cardArticle {
    flex-direction: column;
    width: 100%;
    height: 25rem;
    gap: 1.5rem;
  }

  .O_cardTextGroup {
    width: 100%;
    gap: 1.5rem;
  }

  /* .O_chapter {
    display: flex;
    margin-top: 20rem;
    margin-left: 2rem;
    position: relative;
    z-index: 2;
  } */

  .Q_cardTextImg img {
    width: 100%;
    height: 10rem;
  }

  .A_articleLevelTags {
    margin-top: 1.5rem;
    align-self: flex-start;
  }

  /* .O_cardInfo {
    width: 94vw;
    height: 94vw;
    padding: 4.2vw 4.2vw 8.4vw 4.2vw;
  } */

  .O_cardMedia {
    gap: 5vw;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
  }

  .M_mainText {
    gap: 3vw;
    width: 55vw;
    padding: 18.4vw 0;
  }

  .W_cards {
    display: flex;
    flex-direction: column;
  }

  .W_cards {
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    padding: 2rem;
    gap: 1.5rem;
  }

  .S_popupContainer {
    width: 100%;
  }

  .O_cardInfo {
    width: 100%;
    height: 22rem;
  }

  .Q_cardInfoImg img {
    width: 100%;
    height: 11rem;
  }

  .M_cardTexts {
    text-align: center;
    gap: 0.5rem;
  }

  .A_p2 {
    line-height: 1.4;
  }

  .W_comingsoon {
    width: 90%;
    height: 100vw;
    max-height: 80vw;
    margin: 2rem auto 0;
    padding: 2rem;
    gap: 0;
    justify-content: center;
    align-items: center;
  }

  .O_cardcomingsoon {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .M_cardcomingsoon {
    text-align: center;
    gap: 0.5rem;
  }

  .Q_mediaLogos {
    width: 16rem;
    height: 16rem;
  }

  .A_mainButton {
    height: 8.4vw;
    width: 16rem;
  }

  .A_p2 {
    font-size: 0.9rem;
    color: var(--grey);
  }
}
