@media only screen and (max-width: 767px) and (min-width: 360px) {
  .M_mainText-artic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    gap: 3vw;
    padding: 18.4vw 0;
  }
}
