:root {
  --white: #e4e4e4;
  --red: #bc0101;
  --black: #0d0d0d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 14.04);
}

header {
  background-color: var(--red);
  font-weight: 800;
  font-family: "WixMadeforDisplay";
  width: 100vw;
  height: 54rem;
  padding: 10rem 64rem 10rem 64rem;
  color: var(--white);
  font-size: 24rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.pages {
  display: flex;
  gap: 52rem;
}

.circles {
  display: flex;
  gap: 52rem;
}

.circle {
  width: 35rem;
  height: 35rem;
  background-color: var(--white);
  border-radius: 100%;
}

body {
  font-size: 14rem;
  background-color: var(--black);
  background-image: url(../images/background.png);
  overflow-x: hidden;
  color: var(--white);
}

.about {
  font-family: "RubikMonoOne";
  font-size: 48rem;
}

.about-first {
  margin-left: 406rem;
  margin-top: 26rem;
  width: 387rem;
}

.about-second {
  margin-left: 81rem;
  margin-top: 378rem;
}

.about-third {
  font-size: 32rem;
  line-height: 120%;
  width: 305rem;
  margin-top: 124rem;
  margin-left: 81rem;
}

.logo {
  background-image: url(../images/logo.svg);
  width: 1483rem;
  height: 1253rem;
  position: absolute;
  margin-top: -27rem;
  z-index: 0;
}

.about-photo {
  background-image: url(../images/about-photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 502rem;
  height: 408rem;
  position: absolute;
  margin-left: 435rem;
  margin-top: -171rem;
  z-index: 3;
}

.description {
  font-family: "WixMadeforDisplay";
  font-size: 19rem;
  font-weight: 400;
  width: 30rem;
  margin-left: 1021rem;
  margin-top: -108rem;
}

.description > p:last-child {
  margin-top: 25rem;
}

.description-bold {
  font-weight: 800;
}

.centered-description {
  font-weight: 700;
  font-family: "WixMadeforDisplay";
  font-size: 32rem;
  text-align: center;
  color: var(--white);
  width: 794rem;
  margin-left: 304rem;
  margin-top: 223rem;
}

.why-us {
  font-family: "RubikMonoOne";
  font-size: 48rem;
  margin-top: 258rem;
  margin-left: 352rem;
}

.why-section {
  margin-top: 212rem;
  margin-left: 101rem;
}

.why-block {
  margin-bottom: 117rem;
}

.why-block-head {
  font-family: "Onmark";
  color: var(--red);
  font-size: 95rem;
  text-decoration-line: underline;
  margin-bottom: 20rem;
}

.why-block-text {
  font-weight: 700;
  font-family: "WixMadeforDisplay";
  font-size: 32rem;
  color: var(--white);
}

.reliability {
  width: 805rem;
}

.close-text {
  width: 571rem;
  color: var(--white);
  font-family: "RubikMonoOne";
  font-size: 48rem;
  margin-left: 414rem;
  margin-top: 255rem;
  text-align: center;
  margin-bottom: 154rem;
}
