:root {
  --white: #ffffff;
  --red: #bc0101;
  --black: #11141b;
  --grey: #888888;
  --lightGrey: #d9d9d9;
  --silver: silver;
  --shadow: 0px 0px 16px 0px rgba(255, 0, 4, 0.7);
  --radiusBig: 0.6rem;
  --radiusSmall: 0.25rem;
  --fontP: 400 1rem / 1rem "SuisseIntl", sans-serif;
  --fontLevelTags: 450 0.9rem / 0.8rem "SuisseIntl", sans-serif;
  --fontMainButton: 550 1.3rem / 1.5rem "SuisseIntl", sans-serif;
  --spacing-10: 1rem;
  --spacing-15: 1.5rem;
  --spacing-35: 3.5rem;
  --spacing-50: 2rem;
  --spacing-60: 6rem;
  --spacing-100: 10rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  background-color: #11141b;
  overflow-x: hidden;
}

.A_h3 {
  font-family: "BebasNeueCyrillic";
  letter-spacing: 0.06rem;
  text-align: center;
  color: var(--grey);
  font-size: 2.62rem;
}

.A_h2 {
  font-family: "SuisseIntl-Book";
  font-size: 3.1rem;
}

.A_h1_style {
  font-family: "SuisseIntl-Book";
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 4.37rem;
}

.A_p_style {
  font-family: "SuisseIntl-Book";
  font-size: 1.25rem;
  color: var(--white);
  line-height: 1.3rem;
}

.W_preview {
  padding-top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: url("/src/images/M_backgroundstyle.webp") no-repeat center/100%;
  border-radius: 0 0 var(--radiusSmall) var(--radiusSmall);
  min-height: 100vh;
  overflow: hidden;
  padding: var(--spacing-35);
  position: relative;
  width: 100%;
}

.W_styleguide_content {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  padding: var(--spacing-60);
  position: relative;
  gap: 5rem;
}

.W_styleguide_menu {
  position: sticky;
  top: var(--spacing-100);

  height: fit-content;
}

.W_styleguide_menu_ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);
}

.W_styleguide_text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
  max-width: 49rem;
}

.W_styleguide_about_us {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.W_styleguide_about_us_text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.W_styleguide_about_us_values_image {
  width: 63.4rem;

  height: 34rem;

  background: url("/src/images/M_values.webp") no-repeat center/100%;
}

.W_styleguide_about_us_values {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.A_styleguide_image {
  width: 63rem;
  height: 34rem;
  align-self: flex-start;
}

.W_styleguide_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-10);
}

.W_styleguide_about_us_mission {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.A_styleguide_logo_image {
  background: url("/src/images/A_logos.webp") no-repeat center/100%;
}

.W_style_guide_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.W_styleguide_image_logo_two {
  width: 64rem;

  height: 18rem;

  background: url("/src/images/M_logos.webp") no-repeat center/100%;
}

.W_styleguide_image_only_logo {
  width: 57.6rem;

  height: 18rem;

  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.A_styleguide_logo_three_image {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_image_color_logo {
  width: 91.8rem;

  height: 38.5rem;
}

.W_styleguide_image_color_logo_one {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_image_color_logo_two {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_image_color_logo_three {
  width: 60.9rem;

  height: 22.5rem;

  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_color_palette {
  width: 63rem;

  height: 36rem;
}

.W_styleguide_color_palette_one {
  background: url("/src/images/M_colors.webp") no-repeat center/100%;
}

.W_styleguide_color_palette_two {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.A_styleguide_stickers_image {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.A_styleguide_sticker_image {
  width: 91.8rem;

  height: 29.7rem;
}

.W_styleguide_color_palette_three {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_font_image {
  width: 63rem;

  height: 34rem;
}

.W_styleguide_font_image_one {
  background: url("/src/images/M_typography.webp") no-repeat center/100%;
}

.W_styleguide_font_image_two {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_font_image_three {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_font_image_four {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.A_styleguide_media_image {
  width: 63rem;
  height: 34rem;
}

.A_styleguide_media_image_one {
  background: url("/src/images/mocup1.webp") no-repeat center/100%;
  border-radius: var(--radiusBig);
}

.A_styleguide_media_image_two {
  background: url("/src/images/mockup2.webp") no-repeat center/100%;
  border-radius: var(--radiusBig);
}

.A_styleguide_media_image_three {
  background: url("/src/images/mockup3.webp") no-repeat center/100%;
  border-radius: var(--radiusBig);
}

.W_styleguide_font_image_big {
  width: 63rem;

  height: 34rem;

  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

.W_styleguide_image_image {
  width: 63rem;

  height: 24rem;
  align-self: flex-start;
}

.W_styleguide_image_image_one {
  background: url("/src/images/M_style.webp") no-repeat center/100%;
}

.W_styleguide_image_image_two {
  background: url("/src/images/M_style_second.webp") no-repeat center/100%;
}

.A_styleguide_colors_palette_image {
  background: url("/src/images/A_logoHeader.webp") no-repeat center/100%;
}

@media (max-width: 960px) {
  .A_styleguide_image,
  .W_styleguide_image,
  .W_styleguide_content,
  .W_styleguide_about_us,
  .W_style_guide_content,
  .W_styleguide_image_color_logo,
  .W_styleguide_image_color_logo_three,
  .W_styleguide_image_only_logo,
  .W_styleguide_image_logo_two,
  .W_styleguide_color_palette,
  .W_styleguide_about_us_values_image,
  .A_styleguide_sticker_image,
  .W_styleguide_font_image,
  .W_styleguide_font_image_big,
  .W_styleguide_image_image,
  .A_styleguide_media_image,
  .A_styleguide_media_image_one,
  .A_styleguide_media_image_two,
  .A_styleguide_media_image_three {
    width: 100%;
  }

  .A_styleguide_logo_image {
    background: url("/src/images/A_logos_small_mobile.webp") no-repeat
      center/cover;
  }

  .A_styleguide_logo_three_image {
    background: url("/src/images/A_logoHeader.webp") no-repeat center/cover;
  }

  .A_styleguide_colors_palette_image {
    background: url("/src/images/A_logoHeader.webp") no-repeat center/cover;
  }

  .W_styleguide_image_logo_two {
    background: url("/src/images/M_logos_small.webp") no-repeat center/cover;
  }

  .W_styleguide_about_us_values_image {
    background: url("/src/images/A_values_small.webp") no-repeat center/cover;
  }

  .W_styleguide_color_palette_one {
    background: url("/src/images/M_colors_small.webp") no-repeat center/100%;
  }

  .W_styleguide_image_image_one {
    background: url("/src/images/M_style_small.webp") no-repeat center/100%;
  }

  .W_styleguide_font_image_one {
    background: url("/src/images/M_typography_small.webp") no-repeat center/100%;
  }

  .W_styleguide_image_image_two {
    background: url("/src/images/M_style_small_second.webp") no-repeat
      center/100%;
  }

  .A_styleguide_media_image_one {
    background: url("/src/images/Mockup1_small.webp") no-repeat center/100%;
  }

  .A_styleguide_media_image_two {
    background: url("/src/images/Mockup2_small.webp") no-repeat center/100%;
  }

  .A_styleguide_media_image_three {
    background: url("/src/images/Mockup3_small.webp") no-repeat center/100%;
  }

  .W_styleguide_content {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    padding: var(--spacing-50);
    position: relative;
    gap: 2rem;
  }

  .A_h1_style {
    font-size: 7vw;
    line-height: 100%;
  }

  .A_h2 {
    font-size: 8.5vw;
  }

  .A_h3 {
    line-height: 100%;
    font-size: 5.3vw;
  }

  .A_h4 {
    font-size: 4.3vw;
    line-height: 130%;
  }

  .A_p_style {
    font-size: 1.3rem;
  }
}
